@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100%;
  height: 100%;
  /* background-color: rgba(215, 40, 40, 0.819); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  width: 65%;
  height: 70%;
  background-color: rgba(217, 29, 29, 0.94);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  box-shadow: 0px 0px 20px black;
  border-radius: 20px;
  position: relative;
}
.card {
  width: 60%;
  height: 100%;
  /* border-radius: 10px ; */
  /* border: 2px solid black; */
}

.text {
  width: 100%;
  height: 50%;
  /* border: 2px solid cornflowerblue; */
  padding: 25px;
}
.text h2 {
  font-size: 15px;
  margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color:aliceblue;

}
.text h1 {
  font-size: 20px;

  margin-bottom: 10px;
  color:aliceblue;
    font-family: "Poppins", sans-serif;

}
.text p {
  font-size: 15px;

  margin-bottom: 10px;
    font-family: "Poppins", sans-serif;

}
.input {
  width: 100%;
  height: 25%;
  /* border: 2px solid navy; */
}
.box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.box input {
  width: 70%;
  height: 40%;
border-radius: 15px;
border: none;
}
.box p {
  margin-top: 10px;
  color: floralwhite;
    font-family: "Poppins", sans-serif;

}
.cancel{

    background-color: #fff;
    
  position: absolute;
  left: 81.3%;
  top:15% ;
  z-index: 1000;
  border-top-right-radius: 10px;

}
/* .cancel span{
    color: black;
  
  
} */
.buttons {
  width: 100%;
  height: 25%;
  /* border: 2px solid hotpink; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-left: -10%;
  transition: .5s;
 
}

.buttons button{
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: none;
   
}
.buttons>a{
    text-decoration: none;
    color: black    ;
}

.photo {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  /* border: 2px solid red; */
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius:  20px;
  border-bottom-right-radius: 20px;
}